p{
text-align: left;
  color: #9900cc;
  width: rgb(255, 0, 0);px;
  border: 4px solid;
  margin: 20px;}
body {
  background-image: url("file:///Users/student/Desktop/bibi1134.github.io/background-2633962__340.jpg");
}
img{float:right;}
.mapbox{


}
